.card-warp {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.handler {
    border-radius: 50%;
}
.handler:hover {
    background-color: rgb(150, 141, 141);
}
.card {
    height: 100px;
    background-color: rgb(144, 144, 160);
    /* grid-template-columns: repeat(); */
}

.card:hover {
    background-color: rgb(113, 113, 196);
    cursor: pointer;
}
